<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Umich Class Checker</title>
        <link rel="stylesheet" href="../style.css">

	<script type="text/javascript">
		function refreshSchoolsDropdown(termsDropdown, schoolsDropdownId) {
			{{range .Terms}}
				var schoolCodes{{.TermCode}} = new Array("{{.FirstSchool.SchoolCode}}"{{range .Schools}},"{{.SchoolCode}}"{{end}});
				var schoolNames{{.TermCode}} = new Array("{{.FirstSchool.SchoolDescr}}"{{range .Schools}},"{{.SchoolDescr}}"{{end}});
			{{end}}

			var schoolsDropdown = document.getElementById(schoolsDropdownId);
			schoolsDropdown.options.length = 0;

			switch(termsDropdown.value) {
				{{range .Terms}}
				case "{{.TermCode}}":
					for(i = 0; i < schoolCodes{{.TermCode}}.length; i++) {
						addOptionToDropdown(schoolsDropdown, schoolNames{{.TermCode}}[i], schoolCodes{{.TermCode}}[i]);
					}
					break;
				{{end}}
				default:
					break;
			}
		}

		function addOptionToDropdown(dropdown, name, value) {
			var newOption = document.createElement('option');
			newOption.text = name;
			newOption.value = value;
			dropdown.options.add(newOption);
		}

		window.onload = function() {
			refreshSchoolsDropdown(document.getElementById('term'), 'school');
		}

		function removeClass(termCode, schoolCode, subject, classNumber, sectionNumber) {
			var form = document.createElement('form');
			form.method = 'POST';
			form.action = '../removeClass';
			form.style.visibility = 'hidden';

			termCodeInput = document.createElement('input');
			termCodeInput.type = 'text';
			termCodeInput.name = 'TermCode';
			termCodeInput.value = termCode;
			form.appendChild(termCodeInput);

			schoolCodeInput = document.createElement('input');
			schoolCodeInput.type = 'text';
			schoolCodeInput.name = 'SchoolCode';
			schoolCodeInput.value = schoolCode;
			form.appendChild(schoolCodeInput);

			subjectInput = document.createElement('input');
			subjectInput.type = 'text';
			subjectInput.name = 'Subject';
			subjectInput.value = subject;
			form.appendChild(subjectInput);

			classNumberInput = document.createElement('input');
			classNumberInput.type = 'text';
			classNumberInput.name = 'ClassNumber';
			classNumberInput.value = classNumber;
			form.appendChild(classNumberInput);

			sectionNumberInput = document.createElement('input');
			sectionNumberInput.type = 'text';
			sectionNumberInput.name = 'SectionNumber';
			sectionNumberInput.value = sectionNumber;
			form.appendChild(sectionNumberInput);

			userEmailInput = document.createElement('input');
			userEmailInput.type = 'text';
			userEmailInput.name = 'UserEmail';
			userEmailInput.value = {{.UserEmail}};
			form.appendChild(userEmailInput);

			document.body.appendChild(form);
			form.submit();
		}
	</script>
</head>
	
<body>
    <div id="header">
	<h1>University of Michigan Class Checker</h1>
	<p id="creator">Created by Ben Oztalay</p>
	<p id="login">You are logged in as {{.UserEmail}}</p>
    </div>

    <div id="left-pane">
	<h3>Track a Class</h3>
	<form action="../addClassToTrack" method="POST">
            <p>
                <label for="term">Term</label>
                <select id="term" name="TermCode" onchange="refreshSchoolsDropdown(this, 'school');">
                    {{range .Terms}}
                        <option value="{{.TermCode}}">{{.TermDescr}}</option>
                    {{end}}
                </select>
            </p>
            <p>
                <label for="school">School</label>
                <select id="school" name="SchoolCode"></select>
            </p>
            <p>
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="Subject" placeholder="Subject (EECS, MATH, etc)">
            </p>
            <p>
                <label for="number">Class Number</label>
                <input type="text" id="number" name="ClassNumber" placeholder="Class Number">
            </p>
            <p>
                <label for="section">Section Number</label>
                <input type="text" id="section" name="SectionNumber" placeholder="Section Number (e.g. 001)">
            </p>
            <p><button type="submit">Track Class</button></p>
	</form>
    </div>

    <div id="right-pane">
	<h3>Classes Being Tracked</h3>
	<table border="1" cellpadding="5">
            <tr>
                <th>Status</th>
                <th>Class</th>
                <th>Section</th>
                <th>Action</th>
            </tr>
            {{range .ClassTableRows}}
                <tr>
                    <td><span class="class-status {{.StatusColor}}">{{.StatusColor}}</span></td>
                    <td>{{.Subject}} {{.ClassNumber}}</td>
                    <td>{{.SectionNumber}}</td>
                    <td><button onclick='removeClass({{.TermCode}}, {{.SchoolCode}}, {{.Subject}}, {{.ClassNumber}}, {{.SectionNumber}})'>Remove</button></td>
                </tr>
            {{end}}
	</table>
    </div>

    <div id="footer">
        <p>Version {{.Version}}</p>
	<p>See some <a href="../stats">basic statistics</a></p>
        <p>Something not working? <a href="mailto:umclasschecker@gmail.com">Send me an email!</a></p>
        <p>This is open source! <a href="https://www.github.com/boztalay/UmichClassChecker">Check out the code on Github</a></p>
    </div>

</body>
</html>
