<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Umich Class Checker</title>

	<script type="text/javascript">
		function refreshSchoolsDropdown(termsDropdown, schoolsDropdownId) {
			{{range .Terms}}
				var schoolCodes{{.TermCode}} = new Array("{{.FirstSchool.SchoolCode}}"{{range .Schools}},"{{.SchoolCode}}"{{end}});
				var schoolNames{{.TermCode}} = new Array("{{.FirstSchool.SchoolDescr}}"{{range .Schools}},"{{.SchoolDescr}}"{{end}});
			{{end}}

			var schoolsDropdown = document.getElementById(schoolsDropdownId);
			schoolsDropdown.options.length = 0;

			switch(termsDropdown.value) {
				{{range .Terms}}
				case "{{.TermCode}}":
					for(i = 0; i < schoolCodes{{.TermCode}}.length; i++) {
						addOptionToDropdown(schoolsDropdown, schoolNames{{.TermCode}}[i], schoolCodes{{.TermCode}}[i]);
					}
					break;
				{{end}}
				default:
					break;
			}
		}

		function addOptionToDropdown(dropdown, name, value) {
			var newOption = document.createElement('option');
			newOption.text = name;
			newOption.value = value;
			dropdown.options.add(newOption);
		}

		window.onload = function() {
			refreshSchoolsDropdown(document.getElementById('term'), 'school');
		}
	</script>
</head>
	
<body>
	<div style="font-size: x-large;">University of Michigan Class Checker</div>
	<div>by Ben Oztalay</div><br>
	
	<div style="font-size: large;">Track a Class:</div>
	<br>
	<form action="../addClassToTrack" method="POST">
		<!-- Got nothin on my tables -->
		<table>
			<tr>
				<td><label for="term">Term:&nbsp</label></td>
				<td><select id="term" name="TermCode" onchange="refreshSchoolsDropdown(this, 'school');" style="width: 100%;">
					{{range .Terms}}
						<option value="{{.TermCode}}">{{.TermDescr}}</option>
					{{end}}
				</select><td>
			</tr>
			<tr>
				<td><label for="school">School:&nbsp</label></td>
				<td><select id="school" name="SchoolCode" style="width: 100%;"></select></td>
			</tr>
			<tr>
				<td><label for="subject">Subject:&nbsp</label></td>
				<td><input type="text" id="subject" name="Subject" placeholder="Subect (EECS, MATH, etc)" style="width: 100%;"></td>
			</tr>
			<tr>
				<td><label for="number">Class Number:&nbsp</label></td>
				<td><input type="text" id="number" name="ClassNumber" placeholder="Class Number" style="width: 100%;"></td>
			</tr>
			<tr>
				<td><label for="section">Section Number:&nbsp</label></td>
				<td><input type="text" id="section" name="SectionNumber" placeholder="Section Number" style="width: 100%;"></td>
			</tr>
		</table>
		<br>
		<button type="submit">Track Class</button>
	</form>
	<br>
	<br>
	
	<div style="font-size: large;">Classes Being Tracked:</div>
	<br>
	<table border="1" cellpadding="5">
		<tr>
			<td>Subject</td>
			<td>Class Number</td>
			<td>Section</td>
			<td>Status</td>
		</tr>
		{{range .ClassTableRows}}
			<tr>
				<td align="center">{{.Subject}}</td>
				<td align="center">{{.ClassNumber}}</td>
				<td align="center">{{.SectionNumber}}</td>
				<td align="center" bgcolor="{{.StatusColor}}"></td>
			</tr>
		{{end}}
	</table>

</body>
</html>
